* {margin: 0; padding: 0;}
body, html {background-color: #494646; overflow-x: auto;}
.container {margin: 1%; width: auto;}
#counters {margin-bottom: 5px;}
h1, p, span, label {color: #FFFFFF;}
button {margin: 1%; width: 80px;}
#buttons {margin-top: 100px;}